@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.Conteiner{
    max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

.ab-Hero{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

    .ab-hero{
        h3{
            width: 618px;
            height: 360px;
            top: 236px;
            left: 320px;
            gap: 0px;
            opacity: 0px;
            font-family: Poppins;
            font-size: 64px;
            font-weight: 600;
            line-height: 72px;
            letter-spacing: -0.03em;
            text-align: left;
            padding-top: 168px;
        }
        p{
            width: 510px;
            height: 59px;
            top: 620px;
            left: 320px;
            gap: 0px;
            opacity: 0px;
            font-family: Poppins;
            font-size: 18px;
            font-weight: 500;
            line-height: 30px;
            text-align: left;
            padding-top: 188px;
}
button{
    width: 171px;
height: 54px;
top: 711px;
left: 320px;
gap: 0px;
border-radius: 27px;
opacity: 0px;
font-family: Poppins;
font-size: 16px;
font-weight: 600;
line-height: 17.04px;
text-align: center;
border: none;
color: #fff;
background: #F58A07;
margin-top: 110px;
}
.opa{
    img{
        width: 674px;
        height: 699px;
        top: 176px;
        left: 984px;
        gap: 0px;
        border-radius: 0px 0px 20px 0px;
        opacity: 0px;
    }
}
    }
}