@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.Conteiner{
    max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}
body{
    padding-top:100px;
}

.Cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
       .card{
        width: 400px;
        height: 507px;
        top: 1003px;
        left: 320px;
        background: #fff;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
         overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        margin-top: 64px; 
        border-radius: 19px;
           &:hover{
            transform: translateY(-5px);
            box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
           }
          h3{
            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -0.03em;
            text-align: left;
            color: #0D1317;
            padding-top: 32px;
            padding-left: 32px;
            
          }
          p{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 28px;
            text-align: left;
            color: #5B5B5B;
            width: 336px;
            height: 84px;
            top: 1353px;
            left: 352px;
            gap: 0px;
            opacity: 0px;
            padding-top: 16px;
            padding-left: 32px;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          button{
            border:none;
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 17.04px;
            text-align: left;
            color: #F58A07;
            background: inherit;
            margin-top: 24px;
            padding-left: 32px;

          }
          img{
            width: 400px;
            height: 250px;
            top: 1081px;
            left: 320px;
            gap: 0px;
            border-radius: 20px 20px 0px 0px;
            opacity: 0px;

          }
       }
}

@media (max-width:1200px){
  .text{
    h1{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        text-align:center;
        padding-top: 100px;
    }
  }
}
@media (max-width: 900px){
  .text{
    h1{
        font-family: Poppins;
        font-size: 48px;
        font-weight: 600;
        line-height: 56px;
        letter-spacing: -0.03em;
        text-align:center;
        padding-top: 100px;
    }
  }
}

